@charset "utf-8";
/* CSS Document */
#aff-listing-wrap{
	margin: 0 auto;
	padding:0;	
}
#aff-listing-wrap{
	margin: 0 auto;
	padding:0;	
}
#aff-listings{
	width:auto;
	margin:0;
	padding:0;	
}
#aff-listings li{
	list-style:none;	
}